body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.backgroundImage {
    background-image: none;
}

.header-page {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 20px;
    color: white;
    opacity: 0.8;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 200px;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents .contents__clock {
    font-size: 72px;
    color: white;
    opacity: 0.8;
}

.contents .contents__clock #clock {
    margin: 40px 0px;
    margin-bottom: 0px;
}

.contents__LogIn-form .contents__LogIn-input {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 10px;
    font-size: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.contents__LogIn-form .contents__LogIn-input::placeholder {
    color: white;
    opacity: 0.8;
}

.contents__LogIn-form .contents__LogIn-input:focus {
    outline: none;
}

.contents__LogIn-form .contents__LogIn-button {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#greeting {
    color: white;
    opacity: 0.8;
    font-size: 60px;
}

#todo-form {
    display: flex;
    justify-content: center;
}

#todo-form input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 5px;
}

#todo-form input::placeholder {
    color: white;
    opacity: 0.8;
}

#todo-form input:focus {
    outline: none;
}

#todo-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0px;
    margin-top: 40px;
    margin-right: 100px;
}

#todo-list li {
    list-style: none;
    color: white;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

#todo-list li button {
    margin-left: 10px
}

#quotes {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    opacity: 0.8;
}

#quotes span:first-child {
    font-size: 24px;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .contents .contents__clock {
        font-size: 44px;
    }

    #login-form input {
        font-size: 16px;
    }

    #todo-form input {
        font-size: 14px;
    }

    #greeting {
        color: white;
        opacity: 0.8;
        font-size: 28px;
    }

    #todo-list li {
        font-size: 16px;
    }

    #quotes {
        margin-top: 60px;
    }

    #quotes span:first-child {
        font-size: 18px;
    }
}